.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

.Logo {
    Width: 5rem;
    Height: 1rem;
}

.DivButtons {
    display: flex;
    gap: 1rem;
}

.Button {
    background-color: transparent;
    color: var(--Grey-palette-White);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.ButtonContact {
    Width: 7rem;
    Height: 2.5rem;
    background-color: var(--Color-primary);
    color: var(--Grey-palette-White);
    font-size: 12px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    transition: 600ms;
}
@media (min-width: 1024px) {
    .Header {
        background-color: var(--Grey-palette-Black);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
        align-items: center;
    }

    .Logo {
        Width: 5rem;
        Height: 1rem;
    }

    .DivButtons {
        display: flex;
        gap: 1rem;
    }

    .Button {
        background-color: transparent;
        color: var(--Grey-palette-White);
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
    }

    .ButtonContact {
        Width: 7rem;
        Height: 2.5rem;
        background-color: var(--Color-primary);
        color: var(--Grey-palette-White);
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        border-radius: 12px;
        cursor: pointer;
        transition: 600ms;
    }

    .ButtonContact:hover {
        background-color: var(--Color-primary-Hover);
    }

}
