.techCard {
    min-width:220px;
}

.cardInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    border: 1px solid var(--color-grey-3);

    padding: 20px;
    border-radius: 25px;
}